# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.idea
.vscode
# Node.js
node_modules/
cloudfunctions/callback/node_modules
cloudfunctions/echo/node_modules
cloudfunctions/login/node_modules
cloudfunctions/openapi/node_modules
